1_pipelines/p1_backfill_fullload_ingestion_bronze_withlogicapp.json
{
    "name": "p1_incremental_backfill_fullload_ingestion_bronze_withlogicapp__user001",
    "properties": {
        "description": "p1_incremental_backfill_fullload_ingestion_bronze_withlogicapp has with webactivity",
        "activities": [
            {
                "name": "lookup_cdc_json",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "JsonSource",
                        "storeSettings": {
                            "type": "AzureBlobFSReadSettings",
                            "recursive": true,
                            "enablePartitionDiscovery": false
                        },
                        "formatSettings": {
                            "type": "JsonReadSettings"
                        }
                    },
                    "dataset": {
                        "referenceName": "dataset_json_dynamic_adls2",
                        "type": "DatasetReference",
                        "parameters": {
                            "container": "bronze",
                            "folder": "cdc",
                            "file": "cdc.json"
                        }
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "current_utc",
                "type": "SetVariable",
                "dependsOn": [],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "set_current_value_utc",
                    "value": {
                        "value": "@utcNow()\n",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "copy_azureSQL_to_adls2_p2",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "lookup_cdc_json",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "current_utc",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": {
                            "value": "@concat(\n  'SELECT * FROM ',\n  pipeline().parameters.schema,\n  '.',\n  pipeline().parameters.table,\n  ' WHERE ',\n  if(\n    equals(pipeline().parameters.load_type,'full'),\n    '1=1',\n    if(\n      equals(pipeline().parameters.load_type,'backfill'),\n      concat(\n        pipeline().parameters.cdc_column,\n        ' BETWEEN ''',\n        pipeline().parameters.backfill_start,\n        ''' AND ''',\n        pipeline().parameters.backfill_end,\n        ''''\n      ),\n      concat(\n        pipeline().parameters.cdc_column,\n        ' > ''',\n        activity('lookup_cdc_json').output.value[0].cdc,\n        ''' AND ',\n        pipeline().parameters.cdc_column,\n        ' <= ''',\n        variables('set_current_value_utc'),\n        ''''\n      )\n    )\n  )\n)\n",
                            "type": "Expression"
                        },
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "sink": {
                        "type": "ParquetSink",
                        "storeSettings": {
                            "type": "AzureBlobFSWriteSettings"
                        },
                        "formatSettings": {
                            "type": "ParquetWriteSettings"
                        }
                    },
                    "enableStaging": false,
                    "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "dataset_azuresql",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "parquet_dynamic_adls2",
                        "type": "DatasetReference",
                        "parameters": {
                            "container": "bronze",
                            "folder": "data_parquet",
                            "file": {
                                "value": "@concat(pipeline().parameters.table,'_',replace(replace(variables('set_current_value_utc'),':',''), 'T','_'))\n",
                                "type": "Expression"
                            }
                        }
                    }
                ]
            },
            {
                "name": "max_cdc",
                "type": "Script",
                "dependsOn": [
                    {
                        "activity": "copy_azureSQL_to_adls2_p2",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "linkedServiceName": {
                    "referenceName": "ls_sqldatabase",
                    "type": "LinkedServiceReference"
                },
                "typeProperties": {
                    "scripts": [
                        {
                            "type": "Query",
                            "text": {
                                "value": "SELECT MAX(@{pipeline().parameters.cdc_column}) as cdc\nFROM @{pipeline().parameters.schema}.@{pipeline().parameters.table}\n",
                                "type": "Expression"
                            }
                        }
                    ],
                    "scriptBlockExecutionTimeout": "02:00:00"
                }
            },
            {
                "name": "update_last_cdc_value",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "max_cdc",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "JsonSource",
                        "additionalColumns": [
                            {
                                "name": "cdc",
                                "value": {
                                    "value": "@activity('max_cdc').output.resultSets[0].rows[0].cdc",
                                    "type": "Expression"
                                }
                            }
                        ],
                        "storeSettings": {
                            "type": "AzureBlobFSReadSettings",
                            "recursive": true,
                            "enablePartitionDiscovery": false
                        },
                        "formatSettings": {
                            "type": "JsonReadSettings"
                        }
                    },
                    "sink": {
                        "type": "JsonSink",
                        "storeSettings": {
                            "type": "AzureBlobFSWriteSettings"
                        },
                        "formatSettings": {
                            "type": "JsonWriteSettings"
                        }
                    },
                    "enableStaging": false
                },
                "inputs": [
                    {
                        "referenceName": "dataset_json_dynamic_adls2",
                        "type": "DatasetReference",
                        "parameters": {
                            "container": "bronze",
                            "folder": "cdc",
                            "file": "empty.json"
                        }
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "dataset_json_dynamic_adls2",
                        "type": "DatasetReference",
                        "parameters": {
                            "container": "bronz",
                            "folder": "cdc",
                            "file": "cdc.json"
                        }
                    }
                ]
            },
            {
                "name": "webactivity_logicapp",
                "type": "WebActivity",
                "dependsOn": [
                    {
                        "activity": "update_last_cdc_value",
                        "dependencyConditions": [
                            "Failed",
                            "Skipped"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "method": "POST",
                    "url": "https://prod-21.northcentralus.logic.azure.com:443/workflows/a030d6ae6f474fc3968e417d17021a01/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=rQE13q7rS0zsLZV8uKADJ1bPyM9Yz0EmnUDXf0irGUo",
                    "body": {
                        "value": "{\n    \"pipeline_name\" : \"@{pipeline().Pipeline}\",\n    \"pipeline_runid\" : \"@{pipeline().RunId}\"\n\n}",
                        "type": "Expression"
                    }
                }
            }
        ],
        "parameters": {
            "schema": {
                "type": "string"
            },
            "table": {
                "type": "string"
            },
            "cdc_column": {
                "type": "string"
            },
            "load_type": {
                "type": "string"
            },
            "backfill_start": {
                "type": "string"
            },
            "backfill_end": {
                "type": "string"
            }
        },
        "variables": {
            "set_current_value_utc": {
                "type": "String"
            }
        },
        "annotations": []
    }
}
